<header>
  <div class="wrapper">
    <h1 class="logo">Generic<span>Logo</span></h1>

    
    <div class="right-group">
      <select class="header-select"
        [(ngModel)]="selectedClient"
        (ngModelChange)="onClientChange($event)">

  <option *ngFor="let client of clients"
          [value]="client.clientId">

    {{ client.clientName }}

  </option>
</select>
        <nav class="main-nav">
        <ul>
            <li><a [routerLink]="['/mem']"><i class="fa fa-home nav-icon"></i>Home</a></li>
        
        </ul>
        </nav>
        
        <div class="menu-toggle">
        <div class="hamburger"></div>
        </div>
        
    </div>
  </div>
  <app-languageswitcher class="lang-btn"></app-languageswitcher>
    <!-- <router-outlet></router-outlet> -->

</header>